@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --clr-primary: hsl(210, 50%, 30%);
  --clr-primary-content: #fff;
  --clr-secondary: hsla(209, 29%, 70%, 0.3);
  --clr-body: hsl(0, 0%, 98%);
  --clr-text: #000;
  --clr-text-muted: hsl(0, 0%, 25%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: hsl(230, 45%, 55%);
    --clr-primary-content: hsl(0, 30%, 0%);
    --clr-secondary: hsla(209, 29%, 33%, 0.3);
    --clr-body: hsl(240, 20%, 9%);
    --clr-text: hsl(230, 35%, 70%);
    --clr-text-muted: hsl(210, 25%, 40%);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: var(--clr-body);
  color: var(--clr-text);
}

h1 {
  padding-top: 7vh;
  padding-bottom: 1.5em;
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autocomplete-form {
  display: flex;
  flex-direction: column;
}

.autocomplete-input-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0.7em;
}

.autocomplete-input {
  text-indent: 14px;
  color: var(--clr-text);
  background-color: var(--clr-body);
  height: 30px;
  width: 230px;
  border: solid 1px var(--clr-primary);
  padding: 0;
  border-radius: 3px;
}

.autocomplete-input:focus {
  outline: var(--clr-primary) 2px solid;
  outline-offset: -2px;
}

.autocomplete-button {
  font-weight: 400;
  margin-left: 0.75em;
  user-select: none;
  background-color: hsla(0, 0%, 100%, 0);
  cursor: pointer;
  border: solid 1px var(--clr-primary);
  color: var(--clr-primary);
  padding: 0.75em 1em;
  border-radius: 5px;
  transition: all 80ms;
}

.autocomplete-button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-primary-content);
}

.autocomplete-hint {
  position: relative;
  left: 14px;
  top: -3px;
  width: 180px;
  font-size: 0.9em;
  color: var(--clr-text-muted);
  user-select: none;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none;
  border-bottom: none;
  border-left: solid 1px var(--clr-primary);
  border-right: solid 1px var(--clr-primary);
  background-color: var(--clr-body);
  cursor: pointer;
  transition: all 80ms;
}

.autocomplete-hint:focus {
  outline: none;
}

button:focus {
  outline-color: var(--clr-primary);
}

.autocomplete-hint::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 100%;
  border-bottom: solid 1px var(--clr-secondary);
}

.autocomplete-hint:last-of-type {
  border-bottom: solid 1px var(--clr-primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.autocomplete-hint:last-of-type::after {
  content: none;
}

.autocomplete-hint:hover,
.autocomplete-hint:focus {
  background-color: var(--clr-primary);
  color: var(--clr-primary-content);
}

.highlight {
  font-weight: 700;
}
